<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Users</title>
</head>

<body>
<%= yield %>
<h4>Totals:</h4>
<p>There are <%= @users.size %> <a href="/">users</a>, with <%= count_interests %> interests.</p>
</body>
</html>